<form accept-charset="UTF-8" action="https://app.cloudcannon.com/client_editor/{{ site.cc_id }}" method="post" style="margin-bottom:10em;">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden" value="zerYwmTFBKrBe59ZexB2R5YJ9XHxtyzjiPYY/yx3Qcs=" />
   <div class="incorrect-login-message">
     Incorrect password.
   </div>
   <label for="password">Password</label>
   <input id="password" type="password" name="password" class="input" autofocus />
   <input type="hidden" name="username" value="user" />
   <!-- <input type="submit"  style="padding:.25em .375em;background-color:#962F36;color:white;border:none;border-radius:2px;"/> -->
   <button type="submit" value="Log in" class="btn font-family-primary h1 bg-dark-accent-color white bg-hover-primary-color rounded">Log in</button>
 </form>

<style>
 .incorrect-login-message {
   display: none;
 }

 .has-incorrect-login .incorrect-login-message {
   display: block;
 }
</style>
