[submodule "themes/thenewdynamic-hugo-core-theme"]
	path = themes/thenewdynamic-hugo-core-theme
	url = https://github.com/theNewDynamic/thenewdynamic-hugo-core-theme.git
[submodule "themes/seo"]
	path = themes/seo
	url = git@github.com:theNewDynamic/hugo-component-tnd-seo.git
