
<a href="{{ object.url }}" class="{{ site.posting_classes }}">
  {% if page.category %}
    <h6>
      {{ page.category}}
    </h6>
  {% endif %}
  <div class="block">
    {% include components/date.html show_time=true %}
  </div>
  <span class="h1 primary-text-color">
    {{ object.title | markdownify | remove: '<p>' | remove: '</p>' }}<br />
  </span>
  {% if object.excerpt %}
    {{ object.excerpt | markdownify | strip_html }}
  {% elsif object.content != '' %}
    {{ object.content | markdownify }}
  {% endif %}
  {% if object.venue %}<br />
    <div class="font-family-sans">
      {% include events/venue.html %}
    </div>
  {% endif %}

</a>
