{{/* ADDED FOR THIS SITE ONLY */}}
<section class="w-80-l mt7 ph4 ph4-m center">
  <div class="fl w-100 w-60-l mv4 mt0-ns">
    <img src="/img/lettersofwcw.jpg" style="max-height:200px;">
    <img src="/img/A_Long_Retreat.jpg" style="max-height:200px;">
    <img src="/img/cover_a-long-retreat_uk.jpg" style="max-height:200px;">
    <p class="lh-copy">A Long Retreat available from <a class="link dim dark-red" target="_blank" href="http://www.dltbooks.com/">Darnton Longman and Todd</a><br>
The Letters of William Carlos Williams was Winner of the 2009 Louis Martz Prize</p>
  </div>
</section>
