{% include events/filter-events-past.html %}
{% for object in events_past limit: 5 %}
  {% assign date = object.date %}
  <li class="col-12">
    <a href="{{ object.url }}" class="{{ site.sidebar_item_classes }}">
      <small class="block muted">
        {% include components/date.html show_time=false %}
      </small>
      {{ object.title }}
    </a>
  </li>
{% endfor %}

<div class="col-12 right-align mt3 px4">
  <a href="/past-events/" class="btn btn-outline">
    Past Events
  </a>
</div>
