---
layout: default
---

<div class="h3 sm-h3 md-h2 lg-h2 font-heading line-height-4 {{ site.base-layout-classes-wide }} clearfix mt4 text-decoration-none black">
  <img src="/uploads/2011_nbafinalist_medal.gif" alt="" style="max-height:120px;float:left;margin:.25em .75em .125em 0;" />
  {{ site.data.snippets.short_bio_for_home_page | markdownify | remove: '<p>' | remove: '</p>'  }}
</div>


{% assign books = site.books | sort: 'publication_date' | reverse  %}
  {% for object in books  %}
    {% assign title = object.title %}
    {% assign content = object.content %}
    {% assign url = object.url %}
    {% assign subtitle = object.subtitle %}
    {% assign genre = object.genre %}
    {% assign description_markdown = object.description_markdown %}
    {% assign cover_image_path = object.cover_image_path %}
    {% assign publication_date = object.publication_date %}
    {% assign editions = object.editions %}
    {% assign pubdate = object.publication_date | date: "%Y%m%d" %}
    {% assign editions = object.editions %}


    <article class="hentry{% if page.class %} {{page.class}}{% endif %}{{ site.base-layout-classes-wide }} clearfix mb4">
      {% include books/layout.html %}
    </article>
  {% endfor %}


  <div class="{{ site.base-layout-classes-wide }}">
  <img src="http://andrewkrivak.com/static/images/uploads/lettersofwcw.jpg" style="max-height:200px;">
  <img src="http://andrewkrivak.com/static/images/uploads/A_Long_Retreat.jpg" style="max-height:200px;">
  <img src="http://andrewkrivak.com/static/images/uploads/cover_a-long-retreat_uk.jpg" style="max-height:200px;">

<br /?

  UK edition of <em>A Long Retreat</em> available from <a href="http://www.dltbooks.com">Darnton Longman and Todd</a>
<br />

  <em>The Letters of William Carlos Williams</em> was Winner of the 2009 Louis Martz Prize

  </div>
