---
layout: default
---
{% assign books = site.books | sort: 'publication_date' | reverse %}


<div class="col-12 clearfix bg-cover bg-no-repeat"{% if page.background_image_path %} style="background-image:url({{ page.background_image_path }});"{% endif %}>



  {% for object in books limit: 1 %}
    <div id="book" class="lg-col-9 mx3 lg-mx-auto clearfix my2 lg-my4">

    {% assign editions = object.editions %}
    {% assign review = object.reviews[0] %}
    {% assign description_markdown = object.description_markdown %}

    <div class="md-col lg-col col-12 md-col-5 lg-col-5">
      {% if description_markdown %}
        <div class="h3 md-h2 clearfix col-12 white">
          {{ description_markdown | markdownify  }}
        </div>
      {% endif %}

      {% if object.image_galleryTK %}
      <!-- image gallery -->
        {% include image-gallery-button.html %}
      {% endif %}

      {% comment %}
        <blockquote class="lede m0 accent-color">
          “{{ review.copy_markdown | markdownify | remove: '<p>' | remove: '</p>' }}”
        </blockquote>
        <div class="black bold h5 text-decoration-none accent-color">
          — {{ review.attribution | markdownify | remove: '<p>' | remove: '</p>' }}
        </div>
      {% endcomment %}
      <div class="my4 col-12 flex clearfix white font-small xs-hide sm-hide">
        {% include books/buy-links.html classes=list_classes %}
      </div>
    </div>

    <div class="md-col lg-col col-12 md-col-5 lg-col-5 lg-ml4 mb4">
      {% if object.cover_image_path %}
        <a href="{{ object.url }}">
          <img src="{{ object.cover_image_path }}" alt="cover image for {{ object.title }}" class="box-shadow-small-black transition" style="max-height:80vh;" />
        </a>
      {% endif %}

      <div class="my4 col-12 flex clearfix white font-small md-hide lg-hide">
        {% include books/buy-links.html classes=list_classes %}
      </div>
    </div>


  </div>
</div>

<div class="{{ site.base-layout-classes-wide }}">
    {% include books/related-reviews.html %}
</div>


{% endfor %}
