---
layout: default
schema: https://schema.org/WebPage
---

<div class="clearfix col-12">
  {% if layout.sidebar %}
    <div class="md-col lg-col col-12 md-col-2 lg-col-3 py2 md-py3 lg-py4 bg-near-white">
        {% if layout.sidebar_title %}
          <h3 class="{{ site.sidebar_item_classes }}">
            {{ layout.sidebar_title }}
          </h3>
        {% endif %}
      <ul class="list-reset">
        {% include {{ layout.sidebar }} %}
      </ul>
    </div>
    {% assign main_column_classes = ' md-col lg-col col-12 md-col-10 lg-col-9'  %}
    {% else %}
    {% assign main_column_classes = ' col-12 md-col-10 lg-col-7 mx-auto'  %}
  {% endif %}

  <div class="{{ main_column_classes }}" id="filter">
    {% if page.title %}
      <h1 class="p3">
        {{ page.title }}
      </h1>
    {% endif %}
    {{ content }}
  </div>

  <div class="col-12 clearfix">
    <div class="col-12 lg-col lg-col-3">
      <!-- PUSH-->&nbsp;
    </div>
    <div class="md-col lg-col col-12 md-col-10 lg-col-9 p2" id="filter">
      {% include components/pagination.html %}
    </div>
  </div>


</div>
